
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}

.login-content {
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.login-header {
  text-align: center;
  font-family: Helvetica;
  line-height: 1.5;
}

.login-button-container {
  display: flex;
  flex-direction: column;
}

.login-button-container > button {
  width: 300px;
  padding: 0.75rem 0 0.75rem 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 999rem;
  cursor: pointer;
}

.login-googlesso {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

.googleLogo {
  margin-right: 0.5rem;
}

.login-continue {
  background: transparent;
  border: solid;
  border-width: 0.2rem;
  border-color: white;
  color: white;
  font-size: medium;
}

/* Deal with color below */

@media (prefers-color-scheme: light) {
  .login-content {
    /* Generate the gradient online lol */
    background: rgb(168,131,255);
    background: linear-gradient(152deg, #a883ff 7%, #c677d4 30%, #f66ea2 53%);
  }

  .login-header {
    color: white;
  }

  .login-googlesso {
    border: 0;
  }
}

@media (prefers-color-scheme: dark) {

  .login-content {
    background-color: #242424;
  }

  .login-header {
    background-image: linear-gradient(#a883ff, #c677d4, #f66ea2);
    color: transparent;
    background-clip: text;
  }

  .login-googlesso {
    background-color: white;
    border: 0;
    color: black;
  }
}
