.test-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #445088;
}

.test-page-content {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #444;
}

.test-page-text {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 20px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #af71aa;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}