
.onboarding-form-input-container {
    width: 100%;
}

input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 999rem;
    border: none;
    padding: 0.5rem 0.75rem;
}

span {
    font-size: small;
    margin-left: 0.5rem;
}

@media (prefers-color-scheme: light) {
    input {
        background-color: rgb(202, 202, 202);
        color: rgb(104, 72, 120);
    }
}

@media (prefers-color-scheme: dark) {

    input {
        color: black;
        background-color: white;
    }

    input:valid {
        background-color: rgb(196, 113, 199);
        color: white;
    }
}