@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

:root {
    font-family: 'poppins';
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --pmc-light-blue: #8d9beb;
    --pmc-purple: #af71aa;
    --pmc-red: #e33148;
    --pmc-black: #2e2e2e;
    --pmc-dark-purple: #445088;
    --pmc-light-grey: #dedfe2;
    --pmc-blue: #333d6c;
    --pmc-dark-blue: #1d233f;
    --pmc-midnight-grey: #dce1ff;
    --pmc-midnight-blue: #262d47;

    box-sizing: border-box;
}

@theme {
    --color-pmc-light-blue: var(--pmc-light-blue);
    --color-pmc-purple: var(--pmc-purple);
    --color-pmc-red: var(--pmc-red);
    --color-pmc-black: var(--pmc-black);
    --color-pmc-dark-purple: var(--pmc-dark-purple);
    --color-pmc-light-grey: var(--pmc-light-grey);
    --color-pmc-blue: var(--pmc-blue);
    --color-pmc-dark-blue: var(--pmc-dark-blue);
    --color-pmc-midnight-grey: var(--pmc-midnight-grey);
    --color-pmc-midnight-blue: var(--pmc-midnight-blue);
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--pmc-dark-blue);
}

.width-fit {
    width: 90vw;
    height: 95vh;
    max-width: 100%; /* Ensures the element doesn't overflow the viewport */
    margin: 0 auto; /* Centers the element horizontally */
}

.container {
    margin-bottom: 32vh;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
    .width-fit {
        width: 65vw;
    }
}

.container {
    padding: 3rem 0 3rem 0;
}

.button-dark-purple {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: var(--pmc-dark-purple);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-dark-purple:hover {
    background-color: var(--pmc-light-blue);
    /* Change background color on hover */
}

@media screen and (max-width: 600px) {
    .width-fit {
        width: 90vw;
        max-width: 100%; /* Ensures the element doesn't overflow the viewport */
        margin: 0 auto; /* Centers the element horizontally */
    }
}

@keyframes drawCircle {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes drawCheck {
    0% {
        opacity: 0;
        transform: scale(0) rotate(45deg);
    }
    50% {
        opacity: 1;
        transform: scale(1.1) rotate(45deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(45deg);
    }
}

@keyframes drawX {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
