
.onboarding-content {
    width: 45vw;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.onboarding-content-header {

    font-size: x-large;
}

.onboarding-form-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.onboarding-form-select--container {
    display: flex;
    flex-direction: column;
    align-items: start;
}


select {
    box-sizing: border-box;
    border-radius: 100rem;
    border: none;
    padding: 0.5rem 0.75rem;
    border-right: 0.5rem solid transparent;
    color: black;
    width: 100%;
}

select:valid {
    background-color: rgb(196, 113, 199);
    color: white;
}

.submit-button {
    width: 15vw;
    margin-top: 2rem;
    border: none;
    border-radius: 100rem;
    padding: 0.5rem 1rem;
    float: right;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .onboarding-content-header {
        background-image: linear-gradient(#a883ff, #c677d4, #f66ea2);
        color: transparent;
        background-clip: text;
    }

    select {
        background-color: white;
    }

    .submit-button {
        background-image: linear-gradient(#a883ff, #c677d4, #f66ea2);
        color: white;
        /* background-clip: text; */
    }
    
}